{% extends 'base.html' %}

{% block heading %}
        <h2 class="h2-title">{{ article.title }}</h2>
         <p>Posted By : <span class="text-white">{{ article.author }} </span>on {{ article.date }} </p>
        <hr class="small">
{% endblock %}


{% block content %}

<article class="">
    <div class="containerr">
      <div class="row">
        <div class="col-lg-10 col-md-8 mx-auto text-center">
        <img src="{{ article.thumnail.url }}" class="img-responsive"  style="height: 400px;width: 700px; padding-left: 30%;" />

        <p>{{ article.body }} </p>
                
        </div>
      </div>
    </div>
  </article><hr>
{% endblock %}