{% extends 'base.html' %}

{% block heading %}
        <!-- <h2 class="text-capitalize">Create the new post</h2>     -->
        <h2 class="h2-title">Create the new post</h2>
        
{% endblock %}


{% block content %}
        <div class="create-post">
        <form class="site-form" method="post"action="" enctype="multipart/form-data">
                 {% csrf_token %} 
                 {{ form }}<p>The slug field must only contain '-' with in the word.It is same as title</p>
                <input type="submit" value="Create Blog"> 
        </form>
    </div> 

{% endblock %}